langchain
langchain-core
langchain-community
langchain-text-splitters
langchain-openai
openai
python-dotenv
redis
ipykernel
langchain_classic
langgraph
pymysql
mysql-connector-python
unstructured
python-docx
langgraph-checkpoint-mysql[pymysql]
langchain-huggingface 
langchain-pinecone 
pinecone-client
rank_bm25
Pillow
pytest
